body{
	background-color:#f0ddd1;
	font-size:20px;
}
hr{
	background-color:#674568;
	border:none;
	height: 1.5px;
	max-width: 70%;
}
h1,h2,h3,p{
	color : #674568;
}
a.button{
	background-color: #674568;
	color : #f0ddd1;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
}
a.button:hover{
	background-color: #835985;
}
#countdown{
	padding-top: 15px;
	padding-bottom: 15px;
	color: #674568;
	font-weight: bold;
	font-size: larger;
}
#image{
	align-items: center;
	margin-top: 20px;
}
img{
	max-width: 70%;
	height: auto;
}
a.nav{
	padding-left: 2%;
	padding-right: 2%;
	color: #674568;
	text-decoration-color: #674568;
}
.info{
	max-width: 70%;
}

